h1 {
    color: brown;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
p {
    font-size: 20px;
    color: green;
    font-family:verdana, Geneva, Tahoma, sans-serif;
    }
i {
    color: cyan;
    }
b {
    color: red;
    }