body{
    font-family: Arial;
}

.header{
    position: fixed;
    background-color: coral;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    text-align: center;
}

.container{
    position: relative;
    top: 100px;
    z-index: 1;
}

/* semakin besar nilai z index maka semakin depan layernya */