.hello {
    color: rgb(255, 0, 0);
}

.hello:hover {
    /* Mengubah gaya saat mouse mengarah ke elemen */
    font-family: arial;
    font-size: large;
    color: blue;
}

.hello:active {
    /* Mengubah gaya saat elemen diklik */
    font-style: italic;
    font-weight: bolder;
    color: #00e2cf;
}

.hello:visited {
    /* Mengubah gaya saat tautan telah dikunjungi */
    font-style: normal;
    font-weight: bold;
    color: blueviolet;
}


li:first-child a{
    /* Mengubah gaya saat elemen pertama dalam daftar */
    color: green;
}

li:last-child a{
    /* Mengubah gaya saat elemen terakhir dalam daftar */
    color: magenta;
}

li:nth-child(5) a{
    /* Mengubah gaya saat elemen ke-5 dalam daftar */
    color: teal;
}

li:nth-child(3n) a{
    /* Mengubah gaya saat elemen ke-3 dalam daftar */
    color: rgb(0, 236, 236);
}

li:nth-child(even) a:hover{
    /* Mengubah gaya saat elemen genap dalam daftar */
    color: red;
}

li:nth-child(odd) a:hover{
    /* Mengubah gaya saat elemen ganjil dalam daftar */
    color: blue;
}

p:first-of-type {
    /* Mengubah gaya saat elemen pertama dalam tipe tertentu */
    color: red;
}

p:last-of-type {
    /* Mengubah gaya saat elemen terakhir dalam tipe tertentu */
    color: blue;
}